{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <script src="../static/js/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="flex" id="flex">
        <div>
            {{ template "nav" . }}
        </div>
        <div id="page-content" class="page-content" style="background-color: var(--main-background-color);">
            {{ if eq .Component "dashboard" }}
                {{ template "dashboard" . }}
            {{ else if eq .Component "jobs" }}
                {{ template "jobs" . }}
            {{ else if eq .Component "timesheets" }}
                {{ template "timesheets" . }}
            {{ else if eq .Component "leave" }}
                {{ template "leave" . }}
            {{ else if eq .Component "reports" }}
                {{ template "reports" .Data }}
            {{ else if eq .Component "admin" }}
                {{ template "admin" . }}
            {{ else if eq .Component "account" }}
                {{ template "account" . }}
            {{ else if eq .Component "safety" }}
                {{ template "safety" . }}
            {{ else }}
                <p>could not find template</p>
            {{ end }}
        </div>
    </div>
</body>
<script src="../static/js/layout.js"></script>
</html>
{{ end }}