<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="menu-icon-container" onclick="toggleMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="nav-container">
        <img src="../static/img/gpg-logo.jpeg" alt="gpg logo" class="gpg-logo">
        <ul>
            <li class="nav-link"><a class="nav-link-text" href="/dashboard" hx-get="/dashboard">dashboard</a>
            <li class="nav-link"><a class="nav-link-text" href="/jobs" hx-get="/jobs">jobs</a></li>
            <li class="nav-link"><a class="nav-link-text" href="/timesheets" hx-get="/timesheets">timesheets</a></li>
            <li class="nav-link"><a class="nav-link-text" href="/leave" hx-get="/leave">leave</a></li>
            <li class="nav-link"><a class="nav-link-text" href="/admin" hx-get="/admin">admin</a></li>
            <li class="nav-link"><a class="nav-link-text" href="/account" hx-get="/account">account</a></li>
        </ul>
    </div>
    <script src="../static/js/nav.js"></script>
</body>
</html>