{{ define "addItemModal" }}
<div class="modal-container item-modal">
	<div class="modal-content-container">
		<div class="modal-header-container">
			<p>Add Item</p>
			<button
			class="close-modal-btn"
			onclick="toggleAdminPurchaseOrderModal()">
				x
			</button>
		</div>
		<div class="modal-form-container">
			<form 
			class="modal-form"
			id="add-item-form"
			hx-post="/purchase-order/item/post"
			hx-swap="innerHTML"
			hx-target="#admin-po-modal-container"
			hx-ext="json-enc">
				<div class="modal-form-row">
					<div class="modal-form-label-container">
						<label class="modal-form-label"
						for="type">Type:</label>
					</div>
					<div class="modal-form-input-container">
						<input
						class="modal-form-input" 
						type="text" 
						name="type"
						value="{{ .Type }}">
					</div>
					<div class="error-container">
					</div>
				</div>
				<div class="modal-form-textarea-row">
					<div class="modal-form-textarea-label-container">
						<label class="modal-form-label"
						for="description">Description:</label>
					</div>
					<div class="modal-form-textarea-container">
						<textarea
						class="modal-form-textarea" 
						name="description"
						>{{ .Description }}</textarea>
					</div>
					<div class="error-container">
					</div>
				</div>
				<div class="success-msg-container">
					{{ .SuccessMsg }}
				</div>
				<div class="gpg-form-btn-container">
					<button class="gpg-submit-btn" type="submit">SUBMIT</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{ end }}