{{ define "adminPurchaseOrderHistory" }}
<div class="admin-po-tab-header-container">
	<div class="admin-po-tab-header">Purchase Order History</div>
</div>
<div class="admin-po-tab-list">
	<div class="admin-po-list-row">
		<div class="admin-po-history-store-col">
			Store
		</div>
		<div class="admin-po-history-job-col">
			Job
		</div>
		<div class="admin-po-actions-col">
			Actions
		</div>
	</div>
	{{ range . }}
	<div class="admin-po-list-row admin-po-list-row-info">
		<div class="admin-po-history-store-col">
			{{ .StoreId }}
		</div>
		<div class="admin-po-history-job-col">
			{{ .JobId }}
		</div>
		<div class="admin-po-actions-col">
			<div class="admin-po-actions-container">
				<button class="admin-po-actions-btn"><img class="admin-po-view-img" src="../static/img/view.svg"></button>
				<button class="admin-po-actions-btn"><img class="admin-po-delete-img" src="../static/img/delete_grey.svg"></button>
			</div>
		</div>
	</div>
	{{ end }}
</div>
{{ end }}