{{ define "adminJobList" }}
<div class="admin-job-list-headers">
	Available
</div>
{{ range . }}
{{ if eq .IsComplete false }}
<div class="admin-job-row">
	<p 
	hx-get="/admin/put-modal"
	hx-trigger="click"
	hx-swap="innerHTML"
	hx-target="#put-job-modal-container"
	class="admin-job-row-text"
	hx-vals='{
		"id": {{ .ID }}
	}'
	onclick="onPutJobClick()">
		{{ .Name }} {{ if or (ne .Number 0) (ne .Address "n/a") (ne .Suburb "n/a") (ne .PostCode "n/a") }}
		| {{ end }}
		{{ if ne .Number 0 }} {{ .Number }} {{ end }}
		{{ if ne .Address "n/a" }} {{ .Address }}, {{ end }}
		{{ if ne .Suburb "n/a" }} {{ .Suburb }}, {{ end }}
		{{ if ne .PostCode "n/a" }} {{ .PostCode }} {{ end }}
	</p>
	<button
	class="admin-job-delete-btn"
	hx-delete="/jobs/delete"
	hx-trigger="click"
	hx-target="#admin-job-list"
	hx-swap="innerHTML"
	hx-vals='{
		"id": {{ .ID }}
	}'>
		<img src="../static/img/delete.svg" />
	</button>
</div>
{{ end }}
{{ end }}
<div class="admin-job-list-headers">
	Complete
</div>
{{ range . }}
{{ if eq .IsComplete true }}
<div class="admin-job-row">
	<p 
	hx-get="/admin/put-modal"
	hx-trigger="click"
	hx-swap="innerHTML"
	hx-target="#put-job-modal-container"
	class="admin-job-row-text"
	hx-vals='{
		"id": {{ .ID }}
	}'
	onclick="onPutJobClick()">
		{{ .Name }} {{ if or (ne .Number 0) (ne .Address "n/a") (ne .Suburb "n/a") (ne .PostCode "n/a") }}
		| {{ end }}
		{{ if ne .Number 0 }} {{ .Number }} {{ end }}
		{{ if ne .Address "n/a" }} {{ .Address }}, {{ end }}
		{{ if ne .Suburb "n/a" }} {{ .Suburb }}, {{ end }}
		{{ if ne .PostCode "n/a" }} {{ .PostCode }} {{ end }}
	</p>
	<button
	class="admin-job-delete-btn"
	hx-delete="/jobs/delete"
	hx-trigger="click"
	hx-target="#admin-job-list"
	hx-swap="innerHTML"
	hx-vals='{
		"id": {{ .ID }}
	}'>
		<img src="../static/img/delete.svg" />
	</button>
</div>
{{ end }}
{{ end }}
{{ end }}