{{ define "adminSwmList" }}
<div id="admin-swm-content-container">
	<div class="form-header" id="admin-swm-header">
		SWMS
	</div>
	{{ range . }}
		<div
		class="admin-swm-list-row"
		>
			<div class="admin-swm-list-row-item">
				<img class="swm-list-row-icon" src="../static/img/file-exclamation.svg">
				<div class="swm-list-row-info">
					<div class="swm-list-row-name">name</div>
					<div class="swm-list-row-file-name">file-name.pdf</div>
				</div>
			</div>
			<div class="admin-swm-list-row-item">
				<div
				class="incident-report-list-item-btn"
				onclick="togglePdfViewer()">
					<img src="../static/img/view.svg">
				</div>
				<div
				class="incident-report-list-item-btn"
				onclick="togglePdfViewer()">
					<img style="width: 70%;" src="../static/img/update.svg">
				</div>
				<div 
				class="incident-report-list-item-btn"
				id="admin-swm-delete-btn">
					<img src="../static/img/delete_grey.svg">
				</div>
			</div>
		</div>
	{{ end }}
</div>
{{ end }}