{{ define "archivedJobNotes" }}
<div class="job-notes-header-container">
	<div id="job-notes-back-container">
		<img
		hx-get="/job-notes/serve-jobnote-tiles"
		hx-target="#jobnotes-content-container"
		hx-swap="innerHtml"
		hx-trigger="click"
		src="../static/img/back-arrow.svg">
	</div>
	<div id="job-notes-header">
		<span id="job-notes-title">
			{{ .JobSummary.Name }}
		</span>
		<span id="job-notes-subtitle">
			<span><span id="job-notes-location-img"><img src="../static/img/location.svg"></span>{{ .JobSummary.Address }}</span> <span>&#x2022;</span> <span class="task-note-completed">Completed</span>
		</span>
	</div>
</div>
<div id="notes">
	<div id="archived-notes-btn-container">
		<button
		hx-get="/job-notes/get"
		hx-target="#jobnotes-content-container"
		hx-swap="innerHtml"
		hx-trigger="click"
		hx-vals='{
			"job_id": "{{ .JobSummary.ID }}"
		}'
		class="archived-notes-btn">
			View Current Notes
		</button>
	</div>
	<div class="notes-content-container">
		<div class="notes-header">
			<img src="../static/img/paint.svg">
			<span class="notes-title">
				Paint Notes
			</span>
			<span class="note-counter" id="paint-note-counter">
				{{ .JobSummary.PaintnoteCount }}
			</span>
		</div>
		<div class="notes-container">
			{{ range .Paintnotes }}
				{{ template "archivedPaintNote" .}}
			{{ end }}
		</div>
	</div>
	<div class="notes-content-container">
		<div class="notes-header">
			<img src="../static/img/task.svg">
			<span class="notes-title">
				Task Notes
			</span>
			<span class="note-counter" id="task-note-counter">
				{{ .JobSummary.TasknoteCount }}
			</span>
		</div>
		<div class="task-notes-container">
			{{ range .Tasknotes }}
				{{ template "archivedTaskNote" . }}
			{{ end }}
		</div>
	</div>
	<div class="notes-content-container">
		<div class="notes-header">
			<img src="../static/img/img.svg">
			<span class="notes-title">
				Image Notes
			</span>
			<span class="note-counter" id="image-note-counter">
				{{ .JobSummary.ImagenoteCount }}
			</span>
		</div>
		<div class="image-notes-container">
			{{ range .Imagenotes }}
				{{ template "archivedImageNote" . }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}