{{ define "employeeTimesheetReport" }}
<div id="weekSelectorContainer">
    <button 
    class="arrow" 
    id="leftWeekSelectorBtn"
    hx-get="/reports/prev-timesheet-report"
    hx-vals='{
    	"id": "{{ .EmployeeId }}",
    	"week_start_date": "{{ .WeekStartDate }}"
    }'
    hx-target="#timesheetReport"
    hx-swap="innerHTML"><</button>
    <button 
    class="arrow" 
    id="rightWeekSelectorBtn"
    hx-get="/reports/next-timesheet-report"
    hx-vals='{
    	"id": "{{ .EmployeeId }}",
    	"week_start_date": "{{ .WeekStartDate }}"
    }'
    hx-target="#timesheetReport"
    hx-swap="innerHTML">></button>
</div>	
<table class="timesheetReportTable">
	<thead>
		<tr class="timesheetReportTableRow">
			<th>
				Job
			</th>
			<th>
				<p class="timesheetReportDay">We</p>
				<p class="timesheetReportDate">{{ index .WeekDates 0 }}</p>
			</th>
			<th>
				<p class="timesheetReportDay">Th</p>
				<p class="timesheetReportDate">{{ index .WeekDates 1 }}</p>
			</th>
			<th>
				<p class="timesheetReportDay">Fr</p>
				<p class="timesheetReportDate">{{ index .WeekDates 2 }}</p>
			</th>
			<th>
				<p class="timesheetReportDay">Sa</p>
				<p class="timesheetReportDate">{{ index .WeekDates 3 }}</p>
			</th>
			<th>
				<p class="timesheetReportDay">Su</p>
				<p class="timesheetReportDate">{{ index .WeekDates 4 }}</p>
			</th>
			<th>
				<p class="timesheetReportDay">Mo</p>
				<p class="timesheetReportDate">{{ index .WeekDates 5 }}</p>
			</th>
			<th>
				<p class="timesheetReportDay">Tu</p>
				<p class="timesheetReportDate">{{ index .WeekDates 6 }}</p>
			</th>
			<th class="bold">
				Total
			</th>
		</tr>
	</thead>
	<tbody>
		{{ range .TimesheetRows }}
		<tr class="timesheetReportTableRow">
			<td class="timesheet-report-row-project">
				{{ .JobName }}
			</td>
			{{ range .Timesheets }}
				<td>
					{{ .Hours }}:{{ .Minutes }}
				</td>
			{{ end }}
			<td class="bold lightGreyBackground">
				{{ .Total }}
			</td>
		</tr>
		{{ end }}
		<tr class="timesheetReportTableRow">
			<th>
				Total
			</th>
			{{ range .DayTotals }}
				<td class="bold lightGreyBackground">
					{{ . }}
				</td>
			{{ end }}
			<td class="bold darkGreenBackground">
				{{ .WeekTotal }}
			</td>
		</tr>
	</tbody>
</table>
<div id="timesheet-report-additional-info-container">
	<div id="timesheet-report-info-header">
		Summary:
	</div>
	<div id="timesheet-report-summary-container">
		<div id="timesheet-report-summary-label-container">
			<div class="timesheet-report-summary-row timesheet-report-summary-label">
				Hours Payable:
			</div>
			<div class="timesheet-report-summary-row timesheet-report-summary-label">
				Leave Payable:
			</div>
			<div class="timesheet-report-summary-row timesheet-report-summary-label">
				Total Payable:
			</div>
		</div>
		<div id="timesheet-report-summary-info-container">
			<div class="timesheet-report-summary-row timesheet-report-summary-info">
				{{ .WeekTotal }}
			</div>
			<div class="timesheet-report-summary-row timesheet-report-summary-info">
				{{ .LeaveHoursPayable }}:0
			</div>
			<div class="timesheet-report-summary-row timesheet-report-summary-info">
				{{ .TotalHoursPayable }}
			</div>
		</div>
	</div>
	<div id="timesheet-report-info-header">
		Relevant Leave Requests:
	</div>
	<div id="report-leave-request-container">
		{{ range .RelevantLeaveRequests }}
			{{ template "reportEmployeeLeaveRequest" . }}
		{{ end }}
	</div>
</div>
{{ end }}