{{ define "iframePdf" }}
<div
class="admin-safety-pdf"
id="pdf-viewer">
	
</div>
<script>
  const url = '{{ . }}';
  const container = document.getElementById('pdf-viewer');

  pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf.worker.min.js';

  const dpr = window.devicePixelRatio || 1;

  pdfjsLib.getDocument(url).promise.then(pdf => {
    for (let i = 1; i <= pdf.numPages; i++) {
      pdf.getPage(i).then(page => {
        const viewport = page.getViewport({ scale: 1 });
        const containerWidth = container.clientWidth;
        const scale = (containerWidth / viewport.width) * dpr;
        const scaledViewport = page.getViewport({ scale });

        const canvas = document.createElement('canvas');
        const context = canvas.getContext('2d');

        canvas.width = scaledViewport.width;
        canvas.height = scaledViewport.height;

        canvas.style.width = `${scaledViewport.width / dpr}px`;
        canvas.style.height = `${scaledViewport.height / dpr}px`;
        canvas.style.display = 'block';
        canvas.style.marginBottom = '1rem';

        container.appendChild(canvas);

        page.render({
          canvasContext: context,
          viewport: scaledViewport
        });
      });
    }
  });
</script>
{{ end }}