{{ define "jobReport" }}
<div id="job-report-content">
	<div id="job-report-duration-container">
		<div id="job-report-duration-selector">
			<div
			class="job-report-duration"
			id="job-report-duration-1w"
			hx-post="/reports/get-job-report"
			hx-target="#job-report"
			hx-swap="innerHTML"
			hx-ext="json-enc"
			hx-trigger="click"
			hx-vals='{
				"id": "{{ .Job.ID }}",
				"weeks": "1"
			}'
			{{ if eq .ActiveDurationSelect 1 }}
				style="background-color: var(--gpg-light-green-background);"
			{{ end }}>
				1w
			</div>
			<div 
			class="job-report-duration"
			hx-post="/reports/get-job-report"
			hx-target="#job-report"
			hx-swap="innerHTML"
			hx-ext="json-enc"
			hx-trigger="click"
			hx-vals='{
				"id": "{{ .Job.ID }}",
				"weeks": "4"
			}'
			{{ if eq .ActiveDurationSelect 4 }}
				style="background-color: var(--gpg-light-green-background);"
			{{ end }}>
				1m
			</div>
			<div 
			class="job-report-duration"
			hx-post="/reports/get-job-report"
			hx-target="#job-report"
			hx-swap="innerHTML"
			hx-ext="json-enc"
			hx-trigger="click"
			hx-vals='{
				"id": "{{ .Job.ID }}",
				"weeks": "12"
			}'
			{{ if eq .ActiveDurationSelect 12 }}
				style="background-color: var(--gpg-light-green-background);"
			{{ end }}>
				3m
			</div>
			<div 
			class="job-report-duration"
			hx-post="/reports/get-job-report"
			hx-target="#job-report"
			hx-swap="innerHTML"
			hx-ext="json-enc"
			hx-trigger="click"
			hx-vals='{
				"id": "{{ .Job.ID }}",
				"weeks": "24"
			}'
			{{ if eq .ActiveDurationSelect 24 }}
				style="background-color: var(--gpg-light-green-background);"
			{{ end }}>
				6m
			</div>
			<div
			class="job-report-duration"
			hx-post="/reports/get-job-report"
			hx-target="#job-report"
			hx-swap="innerHTML"
			hx-ext="json-enc"
			hx-trigger="click"
			hx-vals='{
				"id": "{{ .Job.ID }}",
				"weeks": "9999"
			}'
			{{ if eq .ActiveDurationSelect 9999 }}
				style="background-color: var(--gpg-light-green-background);"
			{{ end }}>
				all
			</div>
		</div>
	</div>
	<div id="job-report-graphics-container">
		<div id="job-report-graph">
			graph coming soon...
		</div>
	</div>
	<div id="job-report-overview-container">
		<div class="job-report-overview-metric-container">
			<p class="job-report-metric-header">total hours on site</p>
			<p class="job-report-metric-value">{{ .TotalHrs }}</p>
		</div>
		<div class="job-report-overview-metric-container">
			<p class="job-report-metric-header">total days on site</p>
			<p class="job-report-metric-value">{{ .TotalDays }}</p>
		</div>
		<div class="job-report-overview-metric-container">
			<p class="job-report-metric-header">average hrs/day</p>
			<p class="job-report-metric-value">{{ .AvHrsPerDay }}</p>
		</div>
		<div class="job-report-overview-metric-container">
			<p class="job-report-metric-header">average hrs/employee</p>
			<p class="job-report-metric-value">{{ .AvHrsPerEmployee }}</p>
		</div>
		<div class="job-report-overview-metric-container">
			<p class="job-report-metric-header">total employees involved</p>
			<p class="job-report-metric-value">{{ .TotalEmployees }}</p>
		</div>
	</div>
	<div id="job-report-employee-breakdown-container">
		<div id="job-report-employee-breakdown-header-container">
			<div id="job-report-employee-header-img-container">
				<img src="../static/img/employees.svg" id="job-report-employee-header-img">
			</div>
			<p id="job-report-employee-header">Employee Breakdown</p>
		</div>
		<div id="job-report-employee-breakdown">
			{{ template "jobReportEmployeeTable" .EmployeeReports }}
		</div>
	</div>
</div>
{{ end }}