{{ define "jobSelectModal" }}
<div id="jobSelectModalBackground"></div>
<div id="jobSelectModalContent">
    <p>Select job</p>
    <form 
    id="jobSelectForm"
    hx-post="/timesheet-week/init-timesheet-week"
    hx-target="#timesheetTable" 
    hx-swap="beforeend"
    hx-vals='{
    	"week_start_date": "{{ .WeekStartDate }}"
    }'>
    	<div class="jobSelectionsContainer">
		    {{ range .Jobs }}
			    <div class="selectJobInput">
			    	<input 
			    	type="radio" 
			    	id="{{ .ID }}" 
			    	name="job_id" 
			    	value="{{ .ID }}">
			    	<label for="{{ .Name }}">{{ .Name }}, {{ .Number }} {{ .Address }}, {{ .Suburb }}</label>
			    </div>
		    {{ end }}
		</div>
		<div class="formBtns">
			<button type="reset" class="gpgBtn" id="jobSelectModalCloseBtn">close</button>
	    	<button type="submit" class="gpgBtn" id="selectJobSubmitBtn" form="jobSelectForm">SELECT</button>
		</div>
	</form>
</div>
{{ end }}