{{ define "leaveForm" }}
<div class="form-container" id="leave-form-container">
    <div class="form-header">
        <p>Leave Request</p>
    </div>
    <form 
    hx-post="/leave/post" 
    hx-target="#leaveRequestContent"
    hx-swap="innerHtml" 
    class="form" 
    id="leave-form">
        <div class="form-row-container">
            <div class="form-label-container">
                <label class="form-label" for="name">Name:</label>
            </div>
            <div class="form-input-container">
                <input 
                type="text" 
                class="form-input" 
                id="name" 
                name="name" 
                readonly
                style="background-color: var(--main-background-color)" 
                value="{{ .FirstName }} {{ .LastName }}">
            </div>
            <div class="error-container">
            </div>
        </div>
        <div class="form-row-container">
            <div class="form-label-container">
                <label class="form-label" for="type">Type:</label>
            </div>
            <div class="form-input-container">
                <select name="type" class="form-input" id="type">
                    <option value="annual" {{ if eq .Type "annual" }} selected {{ end }}>annual</option>
                    <option value="sick" {{ if eq .Type "sick" }} selected {{ end }}>sick</option>
                    <option value="stress" {{ if eq .Type "stress" }} selected {{ end }}>stress</option>
                    <option value="carers" {{ if eq .Type "carers" }} selected {{ end }}>carers</option>
                    <option value="unpaid" {{ if eq .Type "unpaid" }} selected {{ end }}>unpaid</option>
                    <option value="rostered day off" {{ if eq .Type "rostered day off" }} selected {{ end }}>rostered day off</option>
                </select>
            </div>
            <div class="error-container">
            </div>
        </div>
        <div class="form-row-container">
            <div class="form-label-container">
                <label class="form-label" for="from">Start Date:</label>
            </div>
            <div class="form-input-container">
                <input type="date" class="form-input" id="from" name="from" value="{{ .From }}">
            </div>
            <div class="error-container">
            </div>
        </div>
        <div class="form-row-container">
            <div class="form-label-container">
                <label class="form-label" for="to">End Date:</label>
            </div>
            <div class="form-input-container">
                <input type="date" class="form-input" id="to" name="to" value="{{ .To }}">
            </div>
            <div class="error-container">
                {{ .DateErr }}
            </div>
        </div>
        <div class="form-row-container" id="hours-per-day-container" style="display: none;">
            <div class="form-label-container">
                <label class="form-label" for="hrs_per_day">Hours Taken:</label>
            </div>
            <div class="form-input-container">
                <input type="number" class="form-input" id="hours-per-day" name="hours_per_day" {{ if eq .HoursPerDay "" }} value="8" {{ else }} value="{{ .HoursPerDay }}" {{ end }}>
            </div>
            <div class="error-container">
                {{ .HoursPerDayErr }}
            </div>
        </div>
        <div class="form-row-container">
            <div class="form-label-container">
                <label class="form-label" for="Note">Note:</label>
            </div>
            <div class="form-textarea-container">
                <textarea type="text" class="form-input" id="note" name="note">{{ .Note }}</textarea>
            </div>
            <div class="error-container">
            </div>
        </div>
        <div class="success-msg-container">
                <p id="leave-form-success-msg">{{ .SuccessMsg }}</p>
        </div>
        <div class="form-btn-container">
            <button type="reset" id="leave-form-cancel-btn" class="gpg-close-btn" form="leave-form" onclick="onLeaveFormReset()">Cancel</button>
            <button type="submit" id="leave-form-submit-btn" class="gpg-submit-btn" form="leave-form">SUBMIT</button>
        </div>
    </form>
</div>
{{ end }}