{{  define "nav" }}
<div id="nav">
    <div class="menu-icon-container" id="menu-icon-container" onclick="toggleMenu()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="nav-container" id="nav-container">
        <div class="nav-content" id="nav-content">
            <img src="../static/img/gpg-logo.jpeg" alt="gpg logo" class="gpg-logo-nav">
            <ul>
                <li class="nav-link"><a class="nav-link-text" href="/dashboard">dashboard</a>
                <li class="nav-link"><a class="nav-link-text" href="/jobs">jobs</a></li>
                <li class="nav-link"><a class="nav-link-text" href="/timesheets">timesheets</a></li>
                <li class="nav-link"><a class="nav-link-text" href="/leave">leave</a></li>
                <li class="nav-link"><a class="nav-link-text" href="/admin">admin</a></li>
                <li class="nav-link"><a class="nav-link-text" href="/account">account</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="../static/js/nav.js"></script>
{{ end }}