{{  define "nav" }}
<div id="nav">
    <div class="menu-icon-container" id="menu-icon-container">
        <div class="menuIcon" onclick="toggleMenu()">
            <img src="../static/img/nav-down-arrow.svg" alt="down navigation arrow" class="menuIconArrow">
        </div>
    </div>
    <div class="nav-container" id="nav-container">
        <div class="nav-content" id="nav-content">
            <img src="../static/img/gpg-logo.jpeg" alt="gpg logo" class="gpg-logo-nav">
            <ul id="nav-link-container">
                <li class="nav-link"><a class="nav-link-text" href="/dashboard">dashboard</a>
                <li class="nav-link"><a class="nav-link-text" href="/timesheets">timesheets</a></li>
                <li class="nav-link"><a class="nav-link-text" href="/leave">leave</a></li>
                {{ if eq .IsAdmin true }}
                    <li class="nav-link"><a class="nav-link-text" href="/reports">reports</a></li>
                    <li class="nav-link"><a class="nav-link-text" href="/admin">admin</a></li>
                {{ end }}
            </ul>
            <div id="logoutBtnContainer">
                <a class="nav-link-text" href="/logout"><button class="gpgBtn" id="logoutBtn">logout</button></a>
        </div>
        </div>
    </div>
</div>
<script src="../static/js/nav.js"></script>
{{ end }}