{{ define "paintNote" }}
<div class="paint-note-container">
	<div class="paint-note-header-container">
		<span class="paint-note-product">
			{{ .Colour }} - {{ .Product }}
			<button
			hx-delete="/job-notes/delete"
			hx-trigger="click"
			hx-target="closest .paint-note-container"
			hx-swap="delete"
			hx-vals='{
				"note_uuid": "{{ .NoteUuid }}"
			}' 
			class="paint-note-delete-btn">
				X
			</button>
		</span>
		<span class="paint-note-brand">
			{{ .Brand }}
		</span>
	</div>
	<div class="paint-note-details-container">
		<div class="paint-note-detail">
			<span class="paint-note-detail-header">Finish:</span>
			<span>{{ .Finish }}</span>
		</div>
		<div class="paint-note-detail">
			<span class="paint-note-detail-header">Area:</span>
			<span>{{ .Area }}</span>
		</div>
		<div class="paint-note-detail">
			<span class="paint-note-detail-header">Coats:</span>
			<span>{{ .Coats }}</span>
		</div>
		<div class="paint-note-detail">
			<span class="paint-note-detail-header">Surfaces:</span>
			<span>{{ .Surfaces }}</span>
		</div>
	</div>
	<div class="paint-note-note-container">
		<span class="paint-note-note-header">
			Note:
		</span>
		<span class="paint-note-note">
			{{ .Notes }}
		</span>
	</div>
</div>
{{ end }}