{{ define "purchaseOrderItemRow" }}
<div class="purchase-order-item-row">
	<div class="purchase-order-qty-col">
		<input 
		type="number" 
		name="quantity"
		class="form-input"
		value="{{ .Quantity }}">
	</div>
	<div class="purchase-order-type-col">
		<select 
		name="item_type_id"
		class="form-input">
		<option value="">--Select an option--</option>
		{{ range .ItemTypes }}
			<option value="{{ .UUID }}" {{ if eq $.ItemTypeId .UUID }} selected {{ end }}>{{ .Type }} - {{ .Description }}</option>
		{{ end }}
		</select>
	</div>
	<div class="purchase-order-size-col">
		<select 
		name="item_size_id"
		class="form-input">
		<option value="">--Select an option--</option>
		{{ range .ItemSizes }}
			<option value="{{ .UUID }}" {{ if eq $.ItemSizeId .UUID }} selected {{ end }}>{{ .Size }} - {{ .Description }}</option>
		{{ end }}
		</select>
	</div>
	<div class="purchase-order-name-col">
		<input 
		type="text" 
		name="item_name"
		class="form-input"
		value="{{ .ItemName }}">
	</div>
	<div class="purchase-order-delete-col">
		<button
		type="button"
		class="purchase-order-delete-btn"
		onclick="deleteItemRow(event)">
		<img src="../static/img/delete.svg"></button>
	</div>
</div>
{{ end }}
