{{ define "purchaseOrderForm" }}
<div class="form-container">
	<div class="form-header">
		<p>Purchase Order</p>
	</div>
	<form 
	class="form-container"
	id="purchase-order-form"
	onsubmit="sendPurchaseOrder(event)">
		<div class="form-row-container">
			<div class="form-label-container">
				<label class="form-label" for="employee_id">Employee ID:</label>
			</div>
			<div class="form-input-container">
				<input 
				type="text" 
				name="employee_id"
				class="form-input"
				id="employee_id"
				readonly 
				style="background-color: var(--main-background-color);"
				value="{{ .EmployeeId }}">
			</div>
			<div class="error-container">
				{{ .Errors.EmployeeIdErr }}
			</div>
		</div>
		<div class="form-row-container">
            <div class="form-label-container">
                <label class="form-label" for="store_id">Store:</label>
            </div>
            <div class="form-input-container">
                <select name="store_id" class="form-input" id="store_id">
                	<option value="">-- select a store --</option>
                    {{ range .Stores }}
                    	<option value="{{ .UUID }}" {{ if eq $.StoreId .UUID }} selected {{ end }}>{{ .BusinessName }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="error-container">
            	{{ .Errors.StoreIdErr }}
            </div>
        </div>
        <div class="form-row-container">
            <div class="form-label-container">
                <label class="form-label" for="job">Job:</label>
            </div>
            <div class="form-input-container">
                <select name="job_id" class="form-input" id="job_id">
                	<option value="">-- select a job --</option>
                    {{ range .Jobs }}
                    	<option type="number" value="{{ .ID }}" {{ if eq $.JobId .ID }} selected {{ end }}>{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="error-container">
            	{{ .Errors.JobIdErr }}
            </div>
        </div>
        <div class="form-row-container">
			<div class="form-label-container">
				<label class="form-label" for="date">Date:</label>
			</div>
			<div class="form-input-container">
				<input 
				class="form-input" 
				type="date" 
				name="order_date"
				id="date" 
				value="{{ .Date }}">
			</div>
			<div class="error-container">
				{{ .Errors.DateErr }}
            </div>
		</div>
		<div class="form-row-header-container">
			Items
		</div>
		<div id="purchase-order-new-item-btn-container">
			<button
			id="purchase-order-new-item-btn"
			hx-get="/purchase-order/serve-item-row"
			hx-trigger="click"
			hx-swap="beforeend"
			hx-target="#purchase-order-item-container">
				+ ADD NEW ITEM
			</button>
		</div>
		<div id="purchase-order-item-container">
			<div class="purchase-order-item-row">
				<div class="purchase-order-qty-col">Qty:</div>
				<div class="purchase-order-type-col">Type:</div>
				<div class="purchase-order-name-col">Name:</div>
				<div class="purchase-order-delete-col"></div>
			</div>
			{{ range .PurchaseOrderItems }}
				{{ template "purchaseOrderItemRow" . }}
			{{ end }}
		</div>
		<div class="error-container">
			{{ .Errors.PurchaseOrderItemsErr }}
        </div>
        <div class="success-msg-container">
            <p id="leave-form-success-msg">{{ .Errors.SuccessMsg }}</p>
        </div>
		<div class="form-btn-container">
            <button type="reset" id="purchase-order-cancel-btn" class="gpg-close-btn" form="purchase-order-form">Cancel</button>
            <button type="submit" id="purchase-order-submit-btn" class="gpg-submit-btn" form="purchase-order-form">SUBMIT</button>
        </div>
	</form>
</div>
{{ end }}