{{ define "putJobModal" }}
<div id="put-job-modal-content-container">
	<div class="modal-content-container">
		<div class="modal-header-container">
			<p>Update Job</p>
		</div>
		<div class="modal-form-container">
			<form
			hx-put="/jobs/put"
			hx-swap="innerHTML"
			hx-target="#put-job-modal-container"
			hx-vals='{
				"id": {{ .ID }}
			}'
			class="modal-form" 
			id="put-modal-form">
				<div class="modal-form-row">
					<div class="modal-form-label-container">
						<label class="modal-form-label" for="name">Name:</label>
					</div>
					<div class="modal-form-input-container">
						<input class="modal-form-input" type="text" id="name" name="name" value="{{ .Name }}">
					</div>
					<div class="error-container">
						{{ .NameErr }}
					</div>
				</div>
				<div id="put-job-modal-number-address-row" style="margin-bottom: 10px;">
					<div id="put-job-modal-number-container">
						<div class="put-job-label-container">
							<label class="modal-form-label" for="number">Number:</label>
						</div>
						<div class="put-job-input-container">
							<input class="modal-form-input" type="number" id="number" name="number" value="{{ .Number }}">
						</div>
						<div class="error-container">
							{{ .NumberErr }}
						</div>
					</div>
					<div id="put-job-modal-address-container">
						<div class="put-job-label-container">
							<label class="modal-form-label" for="address">Address:</label>
						</div>
						<div class="put-job-input-container">
							<input class="modal-form-input" type="text" id="address" name="address" value="{{ .Address }}">
						</div>
						<div class="error-container">
							{{ .AddressErr }}
						</div>
					</div>
				</div>
				<div class="modal-form-row">
					<div class="modal-form-label-container">
						<label class="modal-form-label" for="suburb">Suburb:</label>
					</div>
					<div class="modal-form-input-container">
						<input class="modal-form-input" type="text" id="suburb" name="suburb" value="{{ .Suburb }}">
					</div>
					<div class="error-container">
						{{ .SuburbErr }}
					</div>
				</div>
				<div class="modal-form-row">
					<div class="modal-form-label-container">
						<label class="modal-form-label" for="post_code">Post Code:</label>
					</div>
					<div class="modal-form-input-container">
						<input class="modal-form-input" type="text" id="post-code" name="post_code" value="{{ .PostCode }}">
					</div>
					<div class="error-container">
						{{ .PostCodeErr }}
					</div>
				</div>
				<div class="modal-form-row">
					<div class="modal-form-label-container">
						<label class="modal-form-label" for="city">City:</label>
					</div>
					<div class="modal-form-input-container">
						<input class="modal-form-input" type="text" id="city" name="city" value="{{ .City }}">
					</div>
					<div class="error-container">
						{{ .CityErr }}
					</div>
				</div>
				<div class="modal-form-row">
					<div class="modal-form-label-container">
						<label class="modal-form-label" for="is_complete">Is Complete?</label>
					</div>
					<div id="put-job-is-complete-input-row">
						<div class="put-job-is-complete-input-container">
							<input class="put-job-is-complete-input" type="radio" id="true" name="is_complete" value="true" {{ if eq (printf "%v" .IsComplete) "true" }} checked {{ end }}>true</input>
						</div>
						<div class="put-job-is-complete-input-container">
							<input class="put-job-is-complete-input" type="radio" id="false" name="is_complete" value="false" {{ if eq (printf "%v" .IsComplete) "false" }} checked {{ end }}>false</input>
						</div>
					</div>
				</div>
				<div class="success-msg-container">
					{{ .SuccessMsg }}
				</div>
				<div class="gpg-form-btn-container">
					<button
					hx-get="/admin/render-job-tab"
					hx-trigger="click"
					hx-target="#adminJobsContent"
					hx-swap="innerHTML" 
					class="gpg-close-btn" 
					type="button" 
					onclick="onPutJobModalClose()">Close</button>
					<button class="gpg-submit-btn" type="submit" form="put-modal-form">SUBMIT</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{ end }}