{{ define "swmList" }}
<div class="form-header" id="swm-header">
	<div id="swms-header-text">
		SWMS
	</div>
	<div id="add-swms-btn-container">
		{{ if or (eq .UserRole "management") (eq .UserRole "foreman") }}
		<button
		hx-get="/safety/swms/serve-swms-form"
		hx-trigger="click"
		hx-target="#swm-viewer-container"
		hx-swap="innerHTML"
		onclick="toggleSwmViewer()"
		id="add-swms-btn">
			+ add swms
		</button>
		{{ end }}
	</div>
</div>
{{ range .SwmsArr }}
	<div class="swms-list-entry">
		<div class="swm-list-row">
			<img class="swm-list-row-icon" src="../static/img/file-exclamation.svg">
			<div class="swm-list-row-info">
				<div class="swm-list-row-name">{{ .ProjectActivity }}</div>
				<div class="swm-list-row-file-name">{{ .ProjectNumber }} - {{ .SwmsDate }}</div>
			</div>
		</div>
			<div class="swms-list-btn-container">
				<div
				class="swms-list-view-btn"
				hx-get="/safety/swms/serve-swms-pdf"
				hx-trigger="click"
				hx-target="#swm-viewer-container"
				hx-swap="innerHTML"
				hx-vals='{
					"uuid": "{{ .UUID }}"
				}'
				onclick="toggleSwmViewer()">
					<img src="../static/img/view.svg">
				</div>
		{{ if or (eq $.UserRole "management") (eq $.UserRole "foreman") }}
				<div
				class="swms-list-update-btn"
				hx-get="/safety/swms/serve-swms-form-put"
				hx-trigger="click"
				hx-target="#swm-viewer-container"
				hx-swap="innerHTML"
				hx-vals='{
					"uuid": "{{ .UUID }}"
				}'
				onclick="toggleSwmViewer()">
					<img src="../static/img/update.svg">
				</div>
				<div
				class="swms-list-delete-btn"
				hx-delete="/safety/swms/delete"
				hx-target="closest .swms-list-entry"
				hx-swap="delete"
				hx-vals='{
					"uuid": "{{ .UUID }}"
				}'>
					<img src="../static/img/delete_grey.svg">
				</div>
		{{ end }}
			</div>
	</div>
{{ end }}
{{ end }}