{{ define "taskNote" }}
<div class="task-note-container">
	<div class="task-note-header-container">
		<div class="task-note-progress-container">
			{{ if eq .Status "pending" }}
				<img src="../static/img/pending.svg" class="task-note-pending-img"><span class="task-note-pending">Pending</span>
			{{ else }}
				<img src="../static/img/approved.svg" class="task-note-completed-img"><span class="task-note-completed">Completed</span>
			{{ end }}
		</div>
		<div class="task-note-archive-container">
			<button
			onclick="archiveNote('task-note', {{ .NoteUuid }})"
			class="note-archive-btn">
				<img src="../static/img/archive.svg">
			</button>
		</div>
		<button
		hx-get="/job-notes/serve-note-form"
		hx-trigger="click"
		hx-swap="innerHtml"
		hx-target="#note-modal"
		hx-vals='{
			"uuid": "{{ .NoteUuid }}",
			"note_type": "task_note",
			"job_id": "{{ .JobId }}"
		}'
		class="update-note-button"
		onclick="toggleNoteModal()">
			<img src="../static/img/update_green.svg" alt="update task note button">
		</button>
		<button
		onclick="deleteNote('task-note', {{ .NoteUuid }})"
		class="note-delete-btn">
			X
		</button>
	</div>
	<div class="task-note-title-container">
		<div class="task-note-title">
			{{ .Title }}
		</div>
	</div>
	<div class="task-note-description-container">
		{{ .Description }}
	</div>
	<div class="task-note-priority-container">
		<span class="bold">Priority:</span>
		<span>{{ .Priority }}</span>
	</div>
	<div class="task-note-notes-container">
		<span class="bold" class="task-note-notes-header">Notes:</span>
		<span class="task-note-notes">{{ .Notes }}</span>
	</div>
</div>
{{ end }}