{{ define "timesheetNavContainer" }}
<div class="timesheetNavContainer">
    <div class="payweekMonthContainer">
        <p id="payweekMonthStr"><span id="payweekMonth">{{ .MonthStr }}</span>, <span id="payweekYear">{{ .Year }}</span></p>
        <div class="payweekSelectorContainer">
            <div id="leftArrowContainer">
                <button 
                    hx-get="/timesheets/get-timesheet-table"
                    hx-target="#timesheetContent"
                    hx-swap="innerHTML"
                    class="arrow"
                    id="leftArrow"
                    hx-vals='{
                        "arrow": "left",
                        "week_start_date": "{{ .WeekStartDate }}"
                    }'>
                    <
                </button>
            </div>
            <div id="rightArrowContainer">
                <button 
                    hx-get="/timesheets/get-timesheet-table"
                    hx-target="#timesheetContent"
                    hx-swap="innerHTML"
                    class="arrow" 
                    id="rightArrow"
                    hx-vals='{
                        "arrow": "right",
                        "week_start_date": "{{ .WeekStartDate }}"
                    }'>
                    >
                </button>
            </div>
        </div>
    </div>
</div>
{{ end }}