{{ define "timesheetTable" }}
    {{ template "timesheetNavContainer" .Data }}
    <div class="timesheetTableContainer">
        <table class="timesheetTable" id="timesheetTable">
            <thead id="timesheetTableHead">
                {{ template "timesheetHead" .Data.Dates }}
            </thead>
            <tbody>
                {{ template "existingTimesheetRow" .Data }}
            </tbody>
        </table>
    </div>
    <div id="addRowBtnContainer">
        <button 
        hx-get="/timesheets/job-select-modal" 
        hx-target="#jobSelectModal" 
        hx-swap="innerHTML" 
        id="addTableRowBtn"
        hx-vals='{
            "week_start_date": "{{ .Data.WeekStartDate }}"
        }'>
            + Add new row
        </button>    
    </div>

{{ end }}