{{ define "timesheetRow" }}
<div class="timesheetNavContainer">
    <div class="payweekMonthContainer">
            <p><span id="payweekMonth">{{ .MonthStr }}</span>, <span id="payweekYear">{{ .Year }}</span></p>
        <div class="payweekSelectorContainer">
            <div id="leftArrowContainer">
                <button 
                hx-get="/timesheets/render-by-week-start?arrow=left&wedDate={{ .WedDate }}&month={{ .MonthInt }}&year={{ .Year }}"
                    hx-target="#timesheetContent"
                    hx-swap="innerHTML"
                    class="arrow"
                    id="leftArrow"
                    data-arrow="left">
                    <
                </button>
            </div>
            <div id="rightArrowContainer">
                <button hx-get="/timesheets/render-by-week-start?arrow=right&wedDate={{ .WedDate }}&month={{ .MonthInt }}&year={{ .Year }}"
                    hx-target="#timesheetContent"
                    hx-swap="innerHTML"
                    class="arrow" 
                    id="rightArrow"
                    data-arrow="right">
                    >
                </button>
            </div>
        </div>
    </div>
</div>
<div id="timesheetTableContainer">
    <table class="timesheetTable" id="timesheetTable">
        <tr class="datesRow" id="datesRow">
            <th class="stickyCell">
                <div class="dateCell">
                    <p style="font-weight: lighter;">Job</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p class="day">We</p>
                    <p class="date" id="wedDate">{{ index .PrevWeekDates 0 }}</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p class="day">Th</p>
                    <p class="date">{{ index .PrevWeekDates 1 }}</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p class="day">Fr</p>
                    <p class="date">{{ index .PrevWeekDates 2 }}</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p class="day">Sa</p>
                    <p class="date">{{ index .PrevWeekDates 3 }}</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p class="day">Su</p>
                    <p class="date">{{ index .PrevWeekDates 4 }}</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p class="day">Mo</p>
                    <p class="date">{{ index .PrevWeekDates 5 }}</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p class="day">Tu</p>
                    <p class="date">{{ index .PrevWeekDates 6 }}</p>
                </div>
            </th>
            <th>
                <div class="dateCell">
                    <p style="font-weight: lighter;">Total</p>
                </div>
            </th>
        </tr>
        <tbody id="initialProjectRow">
            {{ range .InitialTimesheets }}
            <tr class="projectRow" id="projectRow">
                <td class="stickyCell">
                    <p>{{ .Job }}</p>
                </td>
            {{ range .Timesheets }}
                <td>
                    <form action="/timesheets/put-all" method="put" class="saveAllForm">
                        <input type="text"
                            id="{{ .ID }}"
                            class="timeInput"
                            maxlength="5"
                            name="time" 
                            {{ if and (eq .Hours 0) (eq .Minutes 0) }}
                                placeholder="--:--"
                            {{ else }}
                                value="{{ .Hours }}:{{ .Minutes }}"
                            {{ end }}>
                    </form>
                </td>
            {{ end }}
                <td>
                    <p class="total">0 : 0</p>
                </td>
            </tr>
            {{ end }}
        </tbody>
        <tr class="projectRow hidden" id="newProjectRow">
            <td class="stickyCell">
                <select name="projects" id="projects">
                    {{ range .Jobs }}
                        <option>{{ .Name }}, {{ .Number }} {{ .Address }}, {{ .Suburb }}</option>
                    {{ end }}
                </select>
            </td>
            <td>
                <input type="text" id="wed1" class="timeInput" maxlength="5" placeholder="--:--">
            </td>
            <td>
                <input type="text" id="thu1" class="timeInput" maxlength="5" placeholder="--:--">
            </td>
            <td>
                <input type="text" id="fri1" class="timeInput" maxlength="5" placeholder="--:--">
            </td>
            <td>
                <input type="text" id="sat1" class="timeInput" maxlength="5" placeholder="--:--">
            </td>
            <td>
                <input type="text" id="sun1" class="timeInput" maxlength="5" placeholder="--:--">
            </td>
            <td>
                <input type="text" id="mon1" class="timeInput" maxlength="5" placeholder="--:--">
            </td>
            <td>
                <input type="text" id="tue1" class="timeInput" maxlength="5" placeholder="--:--">
            </td>
            <td>
                <p class="total">0 : 0</p>
            </td>
        </tr>
    </table>
</div>
<div class="addRowBtnContainer">
    <button class="addTableRowBtn" id="addTableRowBtn">+ Add new row</button>
</div>
<div class="saveAllBtnContainer">
    <button class="saveAllBtn" id="saveAllBtn">Save all</button>
</div>
{{ end }}