{{ define "viewPurchaseOrderModal" }}
<div class="modal-container">
	<div class="modal-content-container">
		<div class="modal-header-container">
			<p>Purchase Order</p>
			<button
			class="close-modal-btn"
			onclick="toggleModal()">
				x
			</button>
		</div>
		<div id="po-modal-content">
			<div id="po-modal-summary-container">
				<div class="po-modal-info-container">
					<p class="po-modal-info-header">Order Information</p>
					<div class="order-info-container">
						<div class="order-info-label-col">
							<div class="order-info-label">
								Order ID:
							</div>
							<div class="order-info-label">
								Employee ID:
							</div>
							<div class="order-info-label">
								Employee:
							</div>
							<div class="order-info-label">
								Date:
							</div>
						</div>
						<div class="order-info-col">
							<div class="order-info">
								{{ .UUID }}
							</div>
							<div class="order-info">
								{{ .EmployeeId }}
							</div>
							<div class="order-info">
								{{ .Employee }}
							</div>
							<div class="order-info">
								{{ .Date }}
							</div>

						</div>
					</div>
				</div>
				<div class="po-modal-info-container">
					<p class="po-modal-info-header">Store Information</p>
					<div class="order-info-container">
						<div class="order-info-label-col">
							<div class="order-info-label">
								Store:
							</div>
							<div class="order-info-label">
								Email:
							</div>
							<div class="order-info-label">
								Phone:
							</div>
						</div>
						<div class="order-info-col">
							<div class="order-info">
								{{ .Store.BusinessName }}
							</div>
							<div class="order-info">
								{{ .Store.Email }}
							</div>
							<div class="order-info">
								{{ .Store.Phone }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="po-modal-item-container">
				<p class="po-modal-info-header">Order Items</p>
				<div id="order-items-table">
					<div class="order-item-row">
						<div class="item-item-col item-table-headers item-table-items">
							Item
						</div>
						<div class="item-type-col item-table-headers item-table-items">
							Type
						</div>
						<div class="item-quantity-col item-table-headers item-table-items">
							Quantity
						</div>
					</div>
					{{ range .PurchaseOrderItems }}
					<div class="order-item-row">
						<div class="item-item-col item-table-items">
							{{ .ItemName }}
						</div>
						<div class="item-type-col item-table-items">
							{{ .ItemType }}
						</div>
						<div class="item-quantity-col item-table-items">
							{{ .Quantity }}
						</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}