{{ define "admin" }}
<div class="adminContainer">
    <div class="adminHeaderContainer">
        <h2 id="adminHeader">Admin</h2>
    </div>
    <div id="adminContentSelectorContainer">
        <div class="adminContentSelector" id="employeeTabSelector" style="background-color: white;">
            EMPLOYEES
        </div>
        <div
        class="adminContentSelector" 
        id="jobsSelector" 
        style="background-color: var(--main-background-color);"
        hx-get="/admin/render-job-tab"
        hx-target="#adminJobsContent"
        hx-trigger="click"
        hx-swap="innerHTML">
            JOBS
        </div>
        <div 
        class="adminContentSelector" 
        id="leaveSelector" 
        style="background-color: var(--main-background-color);"
        hx-get="/admin/render-leave-tab"
        hx-target="#adminLeaveContent"
        hx-trigger="click"
        hx-swap="innerHTML">
            LEAVE
        </div>
        <div 
        class="adminContentSelector" 
        id="safetySelector" 
        style="background-color: var(--main-background-color);"
        hx-get="/admin/render-safety-tab"
        hx-target="#adminSafetyContent"
        hx-trigger="click"
        hx-swap="innerHTML">
            SAFETY
        </div>
        <div 
        class="adminContentSelector" 
        id="purchaseOrderSelector" 
        style="background-color: var(--main-background-color);"
        hx-get="/admin/render-purchase-order-tab"
        hx-target="#adminPurchaseOrderContent"
        hx-trigger="click"
        hx-swap="innerHTML">
            PURCHASE ORDER
        </div>
        <div class="borderBottom">
            <button id="close-pdf-btn" onclick="togglePdfViewer()">CLOSE</button>
        </div>
    </div>
    <div id="adminContentContainer">
        <div class="adminContent" id="adminEmployeesContent">
            {{ template "adminEmployeeTab" .Data }}
        </div>
        <div class="adminContent" id="adminJobsContent" style="display: none;">
            jobs
        </div>
        <div class="adminContent" id="adminLeaveContent" style="display: none;">
            leave
        </div>
        <div class="adminContent" id="adminSafetyContent" style="display: none;">
            safety
        </div>
        <div class="adminContent" id="adminPurchaseOrderContent" style="display: none;">
            purchase order
        </div>
    </div>
</div>
<script src="../static/js/admin.js"></script>
<script src="../static/js/safety.js"></script>
{{ end }}