{{ define "admin" }}
<div class="adminContainer">
    <div class="adminHeaderContainer">
        <h2 id="adminHeader">Admin</h2>
    </div>
    <div id="adminContentSelectorContainer">
        <div class="adminContentSelector" id="employeeTabSelector" style="background-color: white;">
            EMPLOYEES
        </div>
        <div class="adminContentSelector" id="jobsSelector" style="background-color: var(--main-background-color);">
            JOBS
        </div>
        <div class="adminContentSelector" id="leaveSelector" style="background-color: var(--main-background-color);">
            LEAVE
        </div>
        <div class="borderBottom">

        </div>
    </div>
    <div id="adminContentContainer">
        <div class="adminContent" id="adminEmployeesContent">
            employees
        </div>
        <div class="adminContent" id="adminJobsContent" style="display: none;">
            jobs
        </div>
        <div class="adminContent" id="adminLeaveContent" style="display: none;">
            leave
        </div>
    </div>
</div>
<script src="../static/js/admin.js"></script>
{{ end }}