<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <script src="../static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="page-content">
        <h1>Unauthorised access</h1>
        <a id="nav-to-login-btn-container" style="width: 30%;" href="/logout"><button id="nav-to-login-btn">Back to login</button></a>
    </div>
</body>
<script src="../static/js/error.js"></script>
</html>