{{ define "leave" }}
<div class="leaveContainer">
    <h2 id="leaveHeader">Leave</h2>
    <div id="leaveContentSelectorContainer">
        <div 
        hx-get="/leave/form"
        hx-trigger="click"
        hx-target=".leaveContent"
        hx-swap="innerHTML"
        class="leaveContentSelector" 
        id="leaveRequestSelector" 
        style="background-color: white;"
        >
            REQUEST
        </div>
        <div 
        hx-get="/leave/history" 
        hx-target=".leaveContent" 
        hx-trigger="click" 
        hx-swap="innerHTML"
        class="leaveContentSelector" 
        id="leaveHistorySelector" 
        style="background-color: var(--main-background-color);"
        >
            HISTORY
        </div>
        <div class="borderBottom">

        </div>
    </div>
    <div id="leaveContentContainer">
        <div class="leaveContent" id="leaveRequestContent">
            {{ template "leaveForm" .Data.LeaveFormDto }}
        </div>
    </div>
</div>
<script src="../static/js/leave.js"></script>
{{ end }}