<div class="leaveContainer">
    <h2 id="leaveHeader">Leave</h2>
    <div id="leaveContentSelectorContainer">
        <div class="leaveContentSelector" id="leaveRequestSelector" style="background-color: white;">
            REQUEST
        </div>
        <div class="leaveContentSelector" id="leaveHistorySelector" style="background-color: var(--main-background-color);">
            HISTORY
        </div>
        <div class="borderBottom">

        </div>
    </div>
    <div id="leaveContentContainer">
        <div class="leaveContent" id="leaveRequestContent">
            <p>Request</p>
        </div>
        <div class="leaveContent" id="leaveHistoryContent" style="display: none;">
            <p>History</p>
        </div>
    </div>
</div>
<script src="../static/js/leave.js"></script>