{{ define "safety" }}
<div class="view-container">
	<div class="view-header-container">
		<h2 class="view-header">Safety</h2>
	</div>
	<div class="view-content-selector-container">
		<div 
		class="view-content-selector"
		id="incident-report-content-selector" 
		onclick="toggleContentSelector(event)"
		hx-get="/safety/serve-incident-report-form"
		hx-trigger="click"
		hx-swap="innerHTML"
		hx-target="#safety-view-content"
		style="background-color: white;">
			INCIDENT REPORT
		</div>
		<div 
		class="view-content-selector"
		id="swm-content-selector"
		onclick="toggleContentSelector(event)"
		hx-get="/safety/serve-swm-user-content"
		hx-trigger="click"
		hx-swap="innerHTML"
		hx-target="#safety-view-content">
			SWMS
		</div>
		<div class="borderBottom">
			<button id="swms-close-pdf-btn" onclick="toggleSwmViewer()">CLOSE</button>
		</div>
	</div>
	<div class="view-content-container">
		<div 
			class="view-content"
			id="safety-view-content">
			{{ template "incidentReportForm" .Data }}
		</div>
	</div>
</div>
<script src="../static/js/safety.js"></script>
{{ end }}