{{ define "timesheets" }}
<div class="timesheetContainer">
    <div class="timesheetHeaderContainer">
        <h2 id="timesheetHeader">Timesheet</h2>
    </div>
    <div class="timesheetContentContainer">
        <div class="timesheetContent" id="timesheetContent">
            <div class="timesheetNavContainer">
                <div class="payweekMonthContainer">
                        <p><span id="payweekMonth"></span>, <span id="payweekYear"></span></p>
                    <div class="payweekSelectorContainer">
                        <div id="leftArrowContainer">
                            <button 
                            hx-get="/timesheets/render-by-week-start?arrow=left&wedDate={{ .Data.InitialWedDate }}&month={{ .Data.InitialMonth }}&year={{ .Data.InitialYear }}"
                                hx-target="#timesheetContent"
                                hx-swap="innerHTML"
                                class="arrow"
                                id="leftArrow"
                                data-arrow="left">
                                <
                            </button>
                        </div>
                        <div id="rightArrowContainer">
                            <button hx-get="/timesheets/render-by-week-start?arrow=right&wedDate={{ .Data.InitialWedDate }}&month={{ .Data.InitialMonth }}&year={{ .Data.InitialYear }}"
                                hx-target="#timesheetContent"
                                hx-swap="innerHTML"
                                class="arrow" 
                                id="rightArrow"
                                data-arrow="right">
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="timesheetTableContainer">
                <table class="timesheetTable" id="timesheetTable">
                    <tr class="datesRow" id="datesRow">
                        <th class="stickyCell">
                            <div class="dateCell">
                                <p style="font-weight: lighter;">Job</p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p class="day">We</p>
                                <p class="date" id="wedDate"></p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p class="day">Th</p>
                                <p class="date"></p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p class="day">Fr</p>
                                <p class="date"></p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p class="day">Sa</p>
                                <p class="date"></p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p class="day">Su</p>
                                <p class="date"></p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p class="day">Mo</p>
                                <p class="date"></p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p class="day">Tu</p>
                                <p class="date"></p>
                            </div>
                        </th>
                        <th>
                            <div class="dateCell">
                                <p style="font-weight: lighter;">Total</p>
                            </div>
                        </th>
                    </tr>
                    <tbody id="initialProjectRow">
                        {{ range .Data.InitialTimesheets }}
                        <tr class="projectRow" id="projectRow">
                            <td class="stickyCell">
                                <p>{{ .Job }}</p>
                            </td>
                        {{ range .Timesheets }}
                            <td>
                                <form action="/timesheets/put" method="put" class="saveAllForm">
                                    <input type="text"
                                        id="{{ .ID }}"
                                        class="timeInput"
                                        maxlength="5"
                                        name="time" 
                                        {{ if and (eq .Hours 0) (eq .Minutes 0) }}
                                            placeholder="--:--"
                                        {{ else }}
                                            value="{{ .Hours }}:{{ .Minutes }}"
                                        {{ end }}>
                                </form>
                            </td>
                        {{ end }}
                            <td>
                                <p class="total">0 : 0</p>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                    <tr class="projectRow hidden" id="newProjectRow">
                        <td class="stickyCell">
                            <select name="projects" id="projects">
                                {{ range .Data.Jobs }}
                                    <option >{{ .Name }}, {{ .Number }} {{ .Address }}, {{ .Suburb }}</option>
                                {{ end }}
                            </select>
                        </td>
                        <td>
                            <input type="text" id="wed1" class="timeInput" maxlength="5" placeholder="--:--">
                        </td>
                        <td>
                            <input type="text" id="thu1" class="timeInput" maxlength="5" placeholder="--:--">
                        </td>
                        <td>
                            <input type="text" id="fri1" class="timeInput" maxlength="5" placeholder="--:--">
                        </td>
                        <td>
                            <input type="text" id="sat1" class="timeInput" maxlength="5" placeholder="--:--">
                        </td>
                        <td>
                            <input type="text" id="sun1" class="timeInput" maxlength="5" placeholder="--:--">
                        </td>
                        <td>
                            <input type="text" id="mon1" class="timeInput" maxlength="5" placeholder="--:--">
                        </td>
                        <td>
                            <input type="text" id="tue1" class="timeInput" maxlength="5" placeholder="--:--">
                        </td>
                        <td>
                            <p class="total">0 : 0</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="addRowBtnContainer">
                <button class="addTableRowBtn" id="addTableRowBtn">+ Add new row</button>
            </div>
            <div class="saveAllBtnContainer">
                <button class="saveAllBtn" id="saveAllBtn">Save all</button>
            </div>
        </div>
    </div>
    <script src="../static/js/timesheets.js"></script>
</div>
{{ end }}