body {
    font-family: Arial, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #474747;
    font-size: small;
}


:root {
    --gpg-green: #00969C;
    --gpg-grey: #1C1C1C;
    --main-background-color: rgb(238, 237, 237);
    --form-input-border-color: rgb(211, 210, 210);
    --main-color: #474747;
}

input[type=date] {
    font-family: Arial, sans-serif;
}

input:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

textarea {
    font-family: Arial, sans-serif;
}

textarea:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

select:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

label {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 730px) {
    .nav-content {
        background-color: var(--main-background-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .nav-link {
        font-size: 1.5em;
    }

    .menu-icon-container {
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 1em;
        left: 1em;
    }

    .bar1, .bar2, .bar3 {
        width: 100%;
        height: 5px;
        background-color: #333;
        margin: 0 0 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    }
    
    .gpg-logo-nav {
        display: none;
    }

    
}

@media screen and (min-width: 731px) {
    .nav-container {
        background-color: white;
        border-right: var(--gpg-green) solid 2px;
        width: 10vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .nav-content {
        height: 100%;
    }
    
    #nav-link-container {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        margin-left: 1px;
      }
      
      .nav-link {
        border-left: var(--gpg-grey) solid 3px;
        padding-left: 0.2em;
        flex: 1;
        display: flex;
        align-items: center;
      }

      .nav-link-text {
        font-size: small;
      }
    
    .gpg-logo-nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .flex {
        display: flex;
    }
}

@media screen and (max-width: 920px) {
    .nav-container {
        background-color: white;
        border-right: var(--gpg-green) solid 2px;
        width: 13vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}

.hidden {
    display: none;
}

.page-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.nav-link-text {
    text-decoration: none;
    color: #333;
}

.login-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 400px;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logo {
    height: 100%;
    width: 100%;
}
.err {
    color: red;
    height: 30px;
    margin-top: 0;
    display: flex;
    margin-left: auto;
}

/***** timesheets *****/
.ts-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.payweek-month-container {
    width: 20%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-carousel-container {
    display: flex;
    margin-bottom: 1em;
    width: 100%;
    justify-content: center;
}



#left-arrow-container {
    width: 1.5em;
    height: 65%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(5px);
    cursor: pointer;
}

#right-arrow-container {
    width: 1.5em;
    height: 65%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-5px);
    cursor: pointer;
}

.arrow {
    width: 0.8em;
    height: 0.8em;
    transform: rotate(45deg);
}

#left-arrow {
    border-left: #a5a5a5 solid 3px;
    border-bottom: #a5a5a5 solid 3px;
}

#right-arrow {
    border-right: #a5a5a5 solid 3px;
    border-top: #a5a5a5 solid 3px;
}

.date-container {
    width: 80%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.ts-form-container{
    border: #333 solid 1px;
    width: 100%;
    flex-grow: 1;
}

.date-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.day {
    margin: 0;
    color: #a5a5a5;
}

.date {
    background-color: #cccccc;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.projectRow td {
    height: 4em;
    width: 8em;
    text-align: center;
  }

.time-input {
    width: 40%;
    height: 40%;
    text-align: center;
    cursor: pointer;
}

#projects {
    height: 100%;
}

/***** leave *****/

#leaveHeader {
    font-weight: lighter;
    margin: 0 0 0.4em 0;
}

@media screen and (max-width: 730px) {

    .leaveContainer {
        width: 95%;
        height: 100%;
        margin-top: auto;
        margin-top: 3.5em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 731px) {    
    .leaveContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}

#leaveContentSelectorContainer {
    display: flex;
    height: 5%;
}

.borderBottom {
    flex-grow: 1;
    border-bottom: var(--gpg-green) 1px solid;
}

.leaveContentSelector {
    width: 6em;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--gpg-green) solid 1px;
    cursor: pointer;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#leaveRequestSelector {
    border-bottom: none;
}

#leaveHistorySelector {
    border-left: none;
}

#leaveContentContainer {
    flex-grow: 1;
    width: 100%;
    border-left: solid var(--gpg-green) 1px;
    border-right: solid var(--gpg-green) 1px;
    border-bottom: solid var(--gpg-green) 1px;
    background-color: white;
    overflow-y: auto;
}

.leaveContent {
    margin: 0 3% 0 3%;
}

.leaveRequestHeading {
    font-size: large;
    width: 100%;
    border-bottom: var(--form-input-border-color) solid 1px;
}

#leaveForm {
    
    row-gap: 2em;
}

#leaveDateContainer {
    display: flex;
    column-gap: 2%;
}

#leaveFormButtons {
    display: flex;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    color: black;
}

.formInput {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    padding: 0.5em;
}

.dateInput {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    padding: 0.5em;
}

#note {
    height: 5em;
}

#leaveFormButtons {
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
    align-items: flex-end;
}

#leaveFormCancelBtn {
    background-color: white;
    border: solid 1px var(--gpg-green);
    color: var(--gpg-green);
    height: 1.5em;
}

#leaveFormSubmitBtn {
    background-color: var(--gpg-green);
    border: none;
    color: white;
    height: 2em;
}

.leaveHistoryRowDisplayed {
    display: flex;
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    height: 2.5em;
    align-items: center;
    background-color: var(--main-background-color);
    margin-bottom: 5px;
    cursor: pointer;
}

.leaveHistoryRowHidden {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    background-color: var(--main-background-color);
    margin-bottom: 5px;
    padding-left: 5px;
}

.leaveHistoryRowCell {
    width: 20%;
    height: 100%;
    padding: 0%;
    margin: 0;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    padding-left: 5px;
}

.leaveHistoryRowHiddenCell {
    display: flex;
    font-size: smaller;
    margin: 0;
    padding: 0;
    height: auto;
    column-gap: 5px;
}

.leaveHistoryRowHeader {
    color: black;
    background-color: white;
    border: none;
}

.leaveHistoryRowHiddenCellLabel {
    color: black;
    width: 20%;
}

.leaveHistoryRowHiddenCellContent {
    flex-grow: 1;
    width: 80%;
}

#isApproved {
    margin-left: auto;
}