body {
    font-family: Arial, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #474747;
    font-size: small;
}


:root {
    --gpg-green: #00969C;
    --gpg-green-background: #00969C90;
    --gpg-grey: #1C1C1C;
    --main-background-color: rgb(238, 237, 237);
    --form-input-border-color: rgb(211, 210, 210);
    --main-color: #474747;
    --timesheet-border: #a5a4a4;
}

input[type=date] {
    font-family: Arial, sans-serif;
}

input:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

textarea {
    font-family: Arial, sans-serif;
}

textarea:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

select {
    color: var(--main-color);
    border-radius: 0;
    border: var(--timesheet-border) solid 1px;
}

select:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

label {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 730px) {
    .nav-content {
        background-color: var(--main-background-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .nav-link {
        font-size: 1.5em;
        padding-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
    }

    .menu-icon-container {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .menuIcon {
        height: 1em;
        width: 2em;
        border-left: var(--gpg-green) solid 1px;
        border-right: var(--gpg-green) solid 1px;
        border-bottom: var(--gpg-green) solid 1px;
        border-radius: 5%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuIconArrow {
        width: 60%;
        margin: 0;
        padding: 0;
        transition: transform 0.3s ease;
    }

    .menuIconArrow.rotated {
        transform: rotate(180deg);
    }
    
    .gpg-logo-nav {
        display: none;
    }

    #logoutBtnContainer {
        display: flex;
        align-items: center;
        font-size: small;
        width: 100%;
        height: 2em;
        justify-content: center;
        padding: 0;
    }

    #logoutBtnContainer a {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30%;
    }

    #logoutBtn {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 731px) {
    .nav-container {
        background-color: white;
        border-right: var(--gpg-green) solid 2px;
        width: 10vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .nav-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #nav-link-container {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        
        margin-left: 1px;
    }
    
    .nav-link {
        border-left: var(--gpg-grey) solid 3px;
        padding-left: 0.2em;
        display: flex;
        align-items: center;
        height: 2em;
    }

    .nav-link-text {
        font-size: x-small;
    }

    #logoutBtnContainer {
        display: flex;
        align-items: center;
        font-size: small;
        width: 100%;
        height: 3em;
        justify-content: center;
        margin-bottom: 2em;
        padding: 0;
    }

    #logoutBtnContainer, a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #logoutBtn {
        width: 50%;
    }
    
    .gpg-logo-nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .flex {
        display: flex;
    }

    .menuIconArrow {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .nav-container {
        background-color: white;
        border-right: var(--gpg-green) solid 2px;
        width: 13vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}

.hidden {
    display: none;
}

.page-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.nav-link-text {
    text-decoration: none;
    color: #333;
}

.login-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 300px;
    font-size: xx-small;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logo {
    height: 80%;
    width: 70%;
}

.error {
    color: red;
    height: 1em;
    margin-top: 2px;
    margin-bottom: 0;
    padding-left: 5px;
}

.err {
    color: red;
    height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    margin-left: auto;
}

.gpgBtn {
    border-radius: 0;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    color: var(--gpg-green);
    height: 2.5em;
    padding: 0 2px;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.loginFormInput {
    border-radius: 0;
    font-size: xx-small;
    border: var(--form-input-border-color) solid 1px;
}

/***** timesheets *****/
@media screen and (max-width: 730px) {

    .timesheetContainer {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 731px) {    
    .timesheetContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}

.timesheetHeaderContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0.4em 0;
}

#timesheetHeader {
    font-weight: lighter;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.timesheetNavContainer {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5em;
    height: 5%;
    margin-top: 1em;
    align-items: center;
    font-size: xx-small;
}

.timesheetContentContainer {
    height: 95%;
    width: 100%;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timesheetContent {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.payweekMonthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--timesheet-border) solid 1px;
    background-color: var(--main-background-color);
    padding: 4px;
    margin: 0;
    width: 15em;
    height: 50%;
    column-gap: 0.5em;
}

#payweekMonth, #payweekYear {
    height: 100%;
}

.payweekSelectorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftArrowContainer {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 2px;
    padding: 0;
}

#rightArrowContainer {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.arrow {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    color: var(--gpg-green);
    border: var(--gpg-green) solid 1px;
}

#timesheetTableContainer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.timesheetTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.stickyCell {
  position: sticky;
  left: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

.dateCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 90%;
    border-collapse: collapse;
}

.day {
    margin: 0;
    padding: 0;
    color: #a5a5a5;
    font-weight: lighter;
    font-size: x-small;
}

.date {
    background-color: #cccccc;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-size: x-small;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.datesRow {
    width: 100%;
}

.projectRow {
    width: 100%;
}

.datesRow th {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);
    border: var(--timesheet-border) solid 1px;
    font-size: xx-small;
}

.projectRow td {
    text-align: center;
    margin: 0;
    padding: 0;
    border: var(--main-background-color) solid 1px;
    font-size: x-small;
}

.timeInput {
    width: 99%;
    height: 99%;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
}

#projects {
    margin: 0;
    padding: 0;
    font-size: x-small;
}

.addRowBtnContainer {
    width: 100%;
    display: flex;
    margin-top: 2px;
}

.addTableRowBtn {
    border-radius: 0;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    color: var(--gpg-green);
    width: 8em;
    height: 2.5em;
    padding: 0 2px;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** leave *****/

#leaveHeader {
    font-weight: lighter;
    margin: 0 0 0.4em 0;
}

@media screen and (max-width: 730px) {

    .leaveContainer {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        font-size: x-small;
    }
}

@media screen and (min-width: 731px) {    
    .leaveContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        font-size: x-small;
    }
}

#leaveContentSelectorContainer {
    display: flex;
    height: 5%;
}

.borderBottom {
    flex-grow: 1;
    border-bottom: var(--gpg-green) 1px solid;
}

.leaveContentSelector {
    width: 6em;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--gpg-green) solid 1px;
    cursor: pointer;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#leaveRequestSelector {
    border-bottom: none;
}

#leaveHistorySelector {
    border-left: none;
}

#leaveContentContainer {
    flex-grow: 1;
    width: 100%;
    border-left: solid var(--gpg-green) 1px;
    border-right: solid var(--gpg-green) 1px;
    border-bottom: solid var(--gpg-green) 1px;
    background-color: white;
    overflow-y: auto;
}

.leaveContent {
    margin: 0 3% 0 3%;
}

.leaveRequestHeading {
    font-size: large;
    width: 100%;
    border-bottom: var(--form-input-border-color) solid 1px;
}

#leaveForm {
    
    row-gap: 2em;
}

#leaveDateContainer {
    display: flex;
    column-gap: 2%;
}

#leaveFormButtons {
    display: flex;
    margin-bottom: 1em;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    color: black;
}

.formInput {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    padding: 0.5em;
    width: 100%;
}

#leaveNameFormInput:focus {
    border: var(--form-input-border-color) solid 1px;
    outline: none;
}

.dateInput {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    padding: 0.5em;
}

#note {
    height: 5em;
}

#leaveFormButtons {
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
    align-items: flex-end;
}

#leaveFormCancelBtn {
    background-color: white;
    border: solid 1px var(--gpg-green);
    color: var(--gpg-green);
    height: 1.5em;
}

#leaveFormSubmitBtn {
    background-color: var(--gpg-green);
    border: none;
    color: white;
    height: 2em;
}

.leaveHistoryRowDisplayed {
    display: flex;
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    height: 2.5em;
    align-items: center;
    background-color: var(--main-background-color);
    margin-bottom: 5px;
    cursor: pointer;
}

.leaveHistoryRowHidden {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    background-color: var(--main-background-color);
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.leaveHistoryRowCell {
    width: 20%;
    height: 100%;
    padding: 0%;
    margin: 0;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    padding-left: 5px;
}

.leaveHistoryRowHiddenCell {
    display: flex;
    align-items: center;
    font-size: smaller;
    margin: 0;
    padding: 0;
    height: auto;
    column-gap: 5px;
    margin-top: 2px;
    width: 100%;
}

.leaveHistoryRowHeader {
    color: black;
    background-color: white;
    border: none;
}

.leaveHistoryRowHiddenCellLabel {
    color: black;
    width: 20%;
}

.leaveHistoryRowHiddenCellContent {
    flex-grow: 1;
    width: 80%;
}

#isApproved {
    margin-bottom: 2px;
}

/** ----- admin ----- **/
@media screen and (max-width: 730px) {

    .adminContainer {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 731px) {    
    .adminContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}

#adminHeader {
    font-weight: lighter;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.adminHeaderContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0.4em 0;
}

#adminContentSelectorContainer {
    display: flex;
    height: 5%;
}

.adminContentSelector {
    width: 7em;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--gpg-green) solid 1px;
    cursor: pointer;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#jobsSelector {
    border-bottom: none;
}

#timesheetSelector {
    border-left: none;
}

#leaveSelector {
    border-left: none;
}

#adminContentContainer {
    flex-grow: 1;
    width: 100%;
    border-left: solid var(--gpg-green) 1px;
    border-right: solid var(--gpg-green) 1px;
    border-bottom: solid var(--gpg-green) 1px;
    background-color: white;
    overflow-y: auto;
}

.adminContent {
    margin: 0 3% 0 3%;
}