body {
    font-family: Arial, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #474747;
}


:root {
    --gpg-green: #00969C;
    --gpg-green-background: #00969C90;
    --gpg-light-green-background: #91c8cb90;
    --gpg-grey: #1C1C1C;
    --main-background-color: rgb(238, 237, 237);
    --light-background-color: #f8f8f8;
    --form-input-border-color: rgb(211, 210, 210);
    --main-color: #474747;
    --timesheet-border: #a5a4a4;
}

input[type=date] {
    font-family: Arial, sans-serif;
}

input:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
    border-radius: 0;
}

textarea {
    font-family: Arial, sans-serif;
}

textarea:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

select {
    color: var(--main-color);
    border-radius: 0;
    border: var(--timesheet-border) solid 1px;
}

select:focus {
    outline: none;
    border: var(--gpg-green) solid 1px;
}

label {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1030px) {
    .nav-content {
        background-color: var(--main-background-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .nav-link {
        font-size: 1.5em;
        padding-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
    }

    .nav-link-text {
        border: none;
    }

    .menu-icon-container {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .menuIcon {
        height: 1em;
        width: 2em;
        border-left: var(--gpg-green) solid 1px;
        border-right: var(--gpg-green) solid 1px;
        border-bottom: var(--gpg-green) solid 1px;
        border-radius: 5%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuIconArrow {
        width: 60%;
        margin: 0;
        padding: 0;
        transition: transform 0.3s ease;
    }

    .menuIconArrow.rotated {
        transform: rotate(180deg);
    }
    
    .gpg-logo-nav {
        display: none;
    }

    #logoutBtnContainer {
        display: flex;
        align-items: center;
        font-size: small;
        width: 100%;
        height: 2em;
        justify-content: center;
        padding: 0;
    }

    #logoutBtnContainer a {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30%;
        text-decoration: none;
    }

    #logoutBtn {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1031px) {
    .nav-container {
        background-color: white;
        border-right: var(--gpg-green) solid 2px;
        width: 10vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .nav-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #nav-link-container {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        gap: 3px;
    }
    
    .nav-link {
        border-left: var(--gpg-grey) solid 3px;
        width: 100%;
        padding-left: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 2em;
        font-size: 1.2em;
    }

    .nav-link-text {
        display: flex;
        justify-content: flex-start;
    }

    #logoutBtnContainer {
        display: flex;
        align-items: center;
        font-size: small;
        width: 100%;
        height: 3em;
        justify-content: center;
        margin-bottom: 2em;
        padding: 0;
    }

    #logoutBtnContainer, a {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    #logoutBtn {
        width: 50%;
    }
    
    .gpg-logo-nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .flex {
        display: flex;
    }

    .menuIconArrow {
        display: none;
    }
}

/*@media screen and (max-width: 920px) {
    .nav-container {
        background-color: white;
        border-right: var(--gpg-green) solid 2px;
        width: 13vw;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}*/

.bold {
    font-weight: 600;
}
.darkGreenBackground {
    background-color: var(--gpg-green-background);
}

.lightGreyBackground {
    background-color: var(--light-background-color);
}

.smallerText {
    font-size: smaller;
}

.hidden {
    display: none;
}

.page-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

.nav-link-text {
    text-decoration: none;
    color: #333;
}

.login-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 300px;
    font-size: small;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formBtns {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logo {
    width: 120%;
}

.error {
    color: red;
    height: 1em;
    margin-top: 2px;
    margin-bottom: 0;
    padding-left: 5px;
}

.err {
    color: red;
    height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    margin-left: auto;
}

.gpgBtn {
    border-radius: 0;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    color: var(--gpg-green);
    height: 2.5em;
    padding: 0 2px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

.loginFormInput {
    border-radius: 0;
    font-size: small;
    border: var(--form-input-border-color) solid 1px;
}

/***** timesheets *****/
@media screen and (max-width: 1030px) {

    .timesheetContainer {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1031px) {    
    .timesheetContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}

.timesheetHeaderContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0.4em 0;
}

#timesheetHeader {
    font-weight: lighter;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.timesheetNavContainer {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5em;
    height: 5%;
    margin-top: 1em;
    align-items: center;
    height: 3em;
}

.timesheetContentContainer {
    height: 95%;
    width: 100%;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.timesheetContent {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

#jobSelectModal {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jobSelectModalBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 30%;
    z-index: -1;
}

#jobSelectModalContent {
    width: 80%;
    max-width: 800px;
    height: 80%;
    background-color: white;
    border: var(--gpg-green) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: lighter;
}

@media screen and (max-width: 960px) {
    #jobSelectForm {
        width: 90%;
        max-width: 450px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 960px) {
    #jobSelectForm {
        width: 50%;
        max-width: 450px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}

.jobSelectionsContainer {
    padding-top: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;
}

.jobSelectionsContainer::-webkit-scrollbar {
    width: 8px;
}

.jobSelectionsContainer::-webkit-scrollbar-thumb {
    background-color: var(--gpg-green);
    border-radius: 4px;
}

.jobSelectionsContainer::-webkit-scrollbar-track {
    background-color: #white;
}

.selectJobInput {
    display: flex;
    justify-content: flex-start;
    height: 2em;
    align-items: center;
    margin-bottom: 5px;
    font-size: small;
    width: 100%;
    gap: 5px;
}

.selectJobInput > label {
    border: var(--gpg-green) solid 1px;
    background-color: var(--main-background-color);
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.selectJobInput > label::-webkit-scrollbar {
    height: 2px;
}

.selectJobInput > label::-webkit-scrollbar-thumb {
    background-color: var(--gpg-green);
    border-radius: 4px;
}

.selectJobInput > label::-webkit-scrollbar-track {
    background-color: #white;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 50%;
    border-radius: 25%;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    background-color: var(--gpg-green);
    border-color: var(--gpg-green);
}

#jobSelectModalCloseBtn {
    width: 4em;
    height: 2em;
}

#selectJobSubmitBtn {
    border-radius: 0;
    border: var(--gpg-green) solid 1px;
    background-color: var(--gpg-green);
    color: white;
    height: 2.5em;
    width: 6em;
    padding: 0 2px;
    font-size: small;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

.payweekMonthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--timesheet-border) solid 1px;
    background-color: var(--main-background-color);
    padding: 4px;
    margin: 0;
    width: 15em;
    height: 50%;
    column-gap: 0.5em;
}

#payweekMonthStr {
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
}

#payweekMonth, #payweekYear {
    height: 100%;
}

.payweekSelectorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    column-gap: 5px;
}

#leftArrowContainer {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 2px;
    padding: 0;
}

#rightArrowContainer {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.arrow {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: white;
    color: var(--gpg-green);
    border: var(--gpg-green) solid 1px;
    cursor: pointer;
}

.timesheetTableContainer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    border: var(--timesheet-border) solid 1px;
    border-collapse: collapse;
}

.timesheetTable {
    border-spacing: 0;
    width: 100%;
}

#timesheetTableHead {
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .dateContainer {
        width: 100px;
        min-width: 60px;
        margin: 0;
        padding: 0;
        background-color: var(--main-background-color);
        border-right: var(--timesheet-border) solid 1px;
        border-bottom: var(--timesheet-border) solid 1px;
    }
}

@media screen and (min-width: 1401px) {
    .dateContainer {
        width: 150px;
        min-width: 60px;
        margin: 0;
        padding: 0;
        background-color: var(--main-background-color);
        border-right: var(--timesheet-border) solid 1px;
        border-bottom: var(--timesheet-border) solid 1px;
    }
}

.inputContainer {
    text-align: center;
    margin: 0;
    padding: 0;
    border-right: var(--main-background-color) solid 1px;
    border-bottom: var(--main-background-color) solid 1px;
    font-size: small;
}

#jobHeader {
    background-color: var(--main-background-color);
}

.stickyCell {
    height: 3em;
    position: sticky;
    left: 0;
    background-color: #f9f9f9;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: var(--timesheet-border) solid 1px;
    border-right: var(--timesheet-border) solid 1px;
    border-collapse: collapse;
}

.stickyCellContent > p {
    font-size: small;
}

@media screen and (max-width: 400px) {
    .stickyCellContent {
        height: 100%;
        width: 140px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 401px) {
    .stickyCellContent {
        height: 100%;
        width: 190px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 861px) {
    .stickyCellContent {
        height: 100%;
        width: 260px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.timesheetBorderBtm {
    border-bottom: var(--timesheet-border) solid 1px;
}

.timesheetBorderTopLight {
    border-top: var(--main-background-color) solid 1px;
}

.dateCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: small;
}

.day {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20%;
    color: #a5a5a5;
    font-weight: lighter;
}

.date {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timeInput {
    display: flex;
    width: 99%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    font-size: small;
}

.projects {
    margin: 0;
    padding: 0;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.projects > select {
    cursor: pointer;
}

#timesheetBtnContainer {
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
}

#addTableRowBtn {
    border-radius: 0;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    color: var(--gpg-green);
    width: 8em;
    height: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.saveAllBtn {
    border-radius: 0;
    border: var(--gpg-green) solid 1px;
    background-color: var(--gpg-green);
    color: white;
    width: 6em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .deleteRowContainer {
        width: 100px;
        min-width: 60px;
        margin: 0;
        padding: 0;
        background-color: var(--main-background-color);  
        text-align: center;
    }
}

@media screen and (min-width: 1401px) {
    .deleteRowContainer {
        width: 150px;
        min-width: 60px;
        margin: 0;
        padding: 0;
        background-color: var(--main-background-color);
        text-align: center;
    }
}

.deleteRowBtn {
    width: 50%;
    border: none;
}

.deleteRowBtnImg {
    width: 1.5em;
}

/***** leave *****/

#leaveHeader {
    font-weight: lighter;
    margin: 0 0 0.4em 0;
}

@media screen and (max-width: 1030px) {

    .leaveContainer {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}

@media screen and (min-width: 1031px) {    
    .leaveContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}

#leaveContentSelectorContainer {
    display: flex;
    height: 2.5em;
}

.borderBottom {
    flex-grow: 1;
    border-bottom: var(--gpg-green) 1px solid;

}

.leaveContentSelector {
    width: 6em;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--gpg-green) solid 1px;
    cursor: pointer;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#leaveRequestSelector {
    border-bottom: none;
}

#leaveHistorySelector {
    border-left: none;
}

#leaveContentContainer {
    position: relative;
    flex-grow: 1;
    width: 100%;
    border-left: solid var(--gpg-green) 1px;
    border-right: solid var(--gpg-green) 1px;
    border-bottom: solid var(--gpg-green) 1px;
    background-color: white;
    overflow-y: auto;
}

.leaveContent {
    margin: 0 3% 0 3%;
    height: 84%;

}

.leaveRequestHeading {
    font-size: large;
    width: 100%;
    border-bottom: var(--form-input-border-color) solid 1px;
}

#leaveForm {
    width: 100%;
    row-gap: 2em;
}

#leaveDateContainer {
    display: flex;
    column-gap: 2%;
}

#leaveFormButtons {
    display: flex;
    margin-bottom: 1em;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    color: black;
    margin: 0;
    padding: 0;
}

.formInput {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    padding: 5px;
    margin: 0;
    width: 99%;
    height: 30px;
}

.formInput select {
    width: 100%;
}

#leaveNameFormInput:focus {
    border: var(--form-input-border-color) solid 1px;
    outline: none;
}

.dateInput {
    border: var(--form-input-border-color) solid 1px;
    border-radius: 0%;
    font-size: 1em;
    color: var(--main-color);
    padding: 0.5em;
}

#note {
    height: 5em;
}

#leaveFormButtons {
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
    align-items: flex-end;
}

#leaveFormCancelBtn {
    background-color: white;
    border: solid 1px var(--gpg-green);
    color: var(--gpg-green);
    height: 1.5em;
}

#leaveFormSubmitBtn {
    background-color: var(--gpg-green);
    border: none;
    color: white;
    height: 2em;
}

#leave-submit-alert-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#leave-submit-alert {
    width: 80%;
    height: 100%;
    border: var(--gpg-green) solid 1px;
    max-width: 500px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#leave-submit-alert-text {
    color: var(--gpg-green);
    width: 60%;
    text-align: center;
}

#employee-leave-history-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.employee-leave-container {
    width: 100%;
}

.employee-leave-container-header {
    font-size: large;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
}

.employee-leave-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#employee-approved-leave-list, #employee-denied-leave-list {
    display: none;
}

#employee-leave-modal-container {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/** ----- admin ----- **/
@media screen and (max-width: 1030px) {

    .adminContainer {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1031px) {    
    .adminContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}

#adminHeader {
    font-weight: lighter;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.adminHeaderContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0.4em 0;
}

#adminContentSelectorContainer {
    display: flex;
    height: 30px;
}

.adminContentSelector {
    width: 7em;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--gpg-green) solid 1px;
    cursor: pointer;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#employeeTabSelector {
    border-bottom: none;
}

#jobsSelector {
    border-left: none;
}

#leaveSelector {
    border-left: none;
}

#adminContentContainer {
    width: 100%;
    height: 90%;
    border-left: solid var(--gpg-green) 1px;
    border-right: solid var(--gpg-green) 1px;
    border-bottom: solid var(--gpg-green) 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-job-tab-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#add-job-btn-container {
    height: 3em;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-top: 1em;
}

#add-job-btn {
    border: var(--gpg-green) solid 1px;
    background-color: white;
    color: var(--gpg-green);
    height: 70%;
    cursor: pointer;
}

#admin-job-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 1em;
    padding-right: 1em;
    max-height: 500px;
}

.admin-job-row {
    border: var(--timesheet-border) solid 1px;
    background-color: var(--light-background-color);
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 5px;
    max-width: 600px;
}

@media screen and (max-width: 450px) {
    .admin-job-row-text {
        overflow-x: auto;
        white-space: nowrap;
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: small;
        padding: 0;
        margin: 0;
    }
}

.admin-job-row-text {
    overflow-x: auto;
    white-space: nowrap;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.admin-job-delete-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.admin-job-delete-btn img {
    width: 80%;
}

#add-job-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

#add-job-form-container {
    width: 95%;
    max-width: 550px;
    height: 90%;
    background-color: white;
    border: var(--gpg-green) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-job-form-container form {
    gap: 10px;
    width: 90%;
    max-width: 500px;
}

#add-job-form-heading {
    font-size: x-large;
}

.add-job-form-input {
    display: flex;
    flex-direction: column;
}

.add-job-form-input-sidebyside {
    display: flex;
    gap: 10px;
}

#add-job-form-input-number {
    width: 4em;
}

#add-job-form-input-number input {
    text-align: center;
}

#add-job-form-input-address {
    flex-grow: 1;
}

#add-job-submit-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

#add-form-reset-btn {
    background-color: white;
    color: var(--gpg-green);
    height: 80%;
    font-weight: lighter;
    width: 4em;
}

#add-form-submit-btn {
    width: 6em;
    background-color: var(--gpg-green);
    color: white;
}

#admin-employee-tab-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-employee-content {
    height: 97%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#add-employee-btn-container {
    height: 50px;
    display: flex;
    align-items: center;
}

#add-employee-btn {
    border: var(--gpg-green) solid 1px;
    background-color: white;
    color: var(--gpg-green);
    height: 70%;
    cursor: pointer;
}

#admin-employee-list {
    overflow-y: auto;
    display: flex;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    flex-direction: column;
    gap: 5px;
}

.admin-employee-row {
    border: var(--timesheet-border) solid 1px;
    background-color: var(--light-background-color);
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 5px;
    max-width: 600px;
}

@media screen and (max-width: 450px) {
    .admin-employee-row-text {
        overflow-x: auto;
        white-space: nowrap;
        flex-grow: 1;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: small;
    }
}

.admin-employee-row-text {
    overflow-x: auto;
    white-space: nowrap;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.admin-employee-delete-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.admin-employee-delete-btn img {
    width: 80%;
}

#add-employee-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#admin-add-employee-modal-content-container {
    width: 95%;
    height: 95%;
    max-width: 550px;
    max-height: 800px;
    background-color: white;
    border: solid 1px var(--gpg-green);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#add-employee-modal-content {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#add-employee-modal-header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#add-employee-form-container {
    width: 100%;
    flex-grow: 1;
}

#add-employee-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#add-employee-form-main-container {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    max-height: 400px;
}

#add-employee-form-label-container {
    height: 100%;
    width: 25%;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.add-employee-form-label {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#add-employee-form-input-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.add-employee-form-input {
    height: 50px;
    border-radius: 0;
    padding: 0;
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-employee-form-item {
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 0;
    padding-left: 5px;
}

#add-employee-err-container {
    width: 100%;
    height: 30px;
}

#add-employee-err {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: red;
}

#add-employee-form-btn-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

#add-employee-cancel-btn {
    border-radius: 0;
    border: solid 1px var(--gpg-green);
    color: var(--gpg-green);
    width: 70px;
    height: 25px;
}

#add-employee-submit-btn {
    border-radius: 0;
    background-color: var(--gpg-green);
    color: white;
    border: none;
    height: 35px;
    width: 80px;
    font-weight: lighter;
}

#admin-leave-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

#admin-leave-content {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.admin-leave-headers {
    width: 100%;
    height: 1.5em;
    font-size: large;
    padding: 0;
    margin-bottom: 5px;
    border-bottom: var(--timesheet-border) solid 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#pending-arrow img {
    height: 1em;
}

#pending-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 0deg;
}

#approved-arrow img, #denied-arrow img {
    height: 1em;
}

#approved-arrow, #denied-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: -90deg;
}

.admin-leave-request-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.admin-leave-request {
    margin: 0;
    padding: 0;
}

#leave-approved-requests, #leave-denied-requests {
    display: none;
}

.admin-leave-request-row {
    height: 2em;
    width: 99.5%;
    max-width: 600px;
    border: solid 1px var(--timesheet-border);
    background-color: var(--light-background-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .admin-lr-row-name {
        padding-left: 5px;
        font-size: smaller;
    }

    .admin-lr-row-dates {
        padding-left: 5px;
        font-size: smaller;
    } 
}

.admin-lr-row-name {
    padding-left: 5px;
}

.admin-lr-row-dates {
    padding-left: 5px;
}

.admin-lr-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 10px;
    padding: 0;
}

#admin-lr-approved-icon {
    width: 20px;
}

#admin-lr-denied-icon {
    width: 23px;
    opacity: 60%;
}

#admin-leave-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#admin-leave-modal-content {
    width: 90%;
    height: 90%;
    border: solid 1px var(--gpg-green);
    background-color: white;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2em;
    gap: 1em;
}

.admin-lr-modal-icon {
    width: 50px;
    padding: 0;
    margin: 0;
}

#admin-lr-modal-form {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 550px;
    max-height: 750px;
}

@media screen and (max-width: 365px) {
    #admin-lr-modal-label-container {
        height: 100%;
        width: 35%;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: smaller;
    }

    #admin-lr-modal-value-container {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: smaller;
    }
}

#admin-lr-modal-label-container {
    height: 100%;
    width: 35%;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#admin-lr-modal-value-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-lr-modal-row {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
}

.admin-lr-modal-label {
    justify-content: flex-end;
}

.admin-lr-modal-value {
    justify-content: center;
    border-bottom: var(--gpg-green) solid 1px;
}

#admin-lr-modal-btn-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;
    gap: 20px;
    padding-top: 15px;
}

#admin-lr-modal-approvedeny-btn-container {
    display: flex;
    width: 80%;
    gap: 15px;
}

.admin-lr-modal-approvedeny-btn {
    background-color: transparent;
    width: 50%;
    height: 3em;
    font-size: 16px;
    border: none;
}

#admin-lr-modal-approve-btn {
    background-color: #40C05780;
    border: solid 1px #40C057;
    color: #40C057;
}

#admin-lr-modal-deny-btn {
    background-color: #D22B2B80;
    border: solid 1px #D22B2B;
    color: #D22B2B;
}

#admin-lr-modal-close-btn {
    width: 5em;
    height: 2em;
    border-radius: 0;
    border: solid 1px var(--gpg-green);
    background-color: transparent;
    color: var(--gpg-green);
    cursor: pointer;
}

/* ----- reports ----- */{{ end }}
@media screen and (max-width: 1030px) {

    .reportsContainer {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}

@media screen and (min-width: 1031px) {    
    .reportsContainer {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
}

#reportsContentContainer {
    flex-grow: 1;
    width: 100%;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    overflow-y: auto;
    padding-top: 1em;
}

.reportsContent {
    margin: 0 3% 0 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#reportsHeader {
    font-weight: lighter;
    margin: 0 0 0.4em 0;
}

#timesheetReportNavContainer {
    display: flex;
    gap: 1em;
    height: 2em;
    padding: 0;
    margin: 0 0 1em 0;
}

#employeeSelector {
    height: 100%;
    background-color: var(--main-background-color);
}

#weekSelectorContainer {
    display: flex;
    gap: 5px;
    width: 4em;
    height: 2em;
}

#leftWeekSelectorBtn, #rightWeekSelectorBtn {
    background-color: var(--main-background-color);
}

#timesheetReport {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
}

.timesheetReportTable {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

.timesheetReportTableRow > th, td {
    border-bottom: var(--timesheet-border) solid 1px;
    border-collapse: collapse;
    text-align: center;
}

.timesheetReportTableRow > th {
    background-color: var(--main-background-color);
}

.timesheetReportTableRow:first-child > th, td {
    width: 50px;
    overflow: hidden;
}

 .timesheetReportDay {
    color: var(--timesheet-border);
 }

 .timesheetReportDay, .timesheetReportDate {
    margin: 0;
    padding: 0;
    font-weight: lighter;
 }

 #timesheet-report-additional-info-container {
    width: 100%;
    flex-grow: 1;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

 #timesheet-report-info-header {
    width: 100%;
    border-bottom: solid 1px var(--timesheet-border);
    padding-bottom: 5px;
    font-weight: bold;
 }

 #timesheet-report-summary-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
 }

 #timesheet-report-summary-label-container {
    width: 30%;
    max-width: 150px;
    height: 100%;
 }

 #timesheet-report-summary-info-container {
    flex-grow: 1;
    height: 100%;
 }

 .timesheet-report-summary-row {
    height: 2em;
    display: flex;
    align-items: flex-end;
 }

 .timesheet-report-summary-label {
    font-weight: bold;
 }

/* ----- dashboard ----- */
@media screen and (max-width: 1030px) {

    #dashboard-container {
        width: 95%;
        height: 95%;
        margin-top: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1031px) {    
    #dashboard-container {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }
}

#dashboard-header-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0.4em 0;
}

#dashboard-header {
    font-weight: lighter;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#dashboard-content-container {
    height: 95%;
    width: 100%;
    border: var(--gpg-green) solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative; 
    padding-top: 15px;   
}

@media screen and (max-width: 1030px) {
    #dashboard-content {
        width: 95%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .dashboard-tile-container {
        width: 45%;
        height: 250px;
        border: var(--gpg-green) solid 1px;
        background-color: var(--main-background-color);
    }
}

@media screen and (min-width: 1031px) {
    #dashboard-content {
        width: 95%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .dashboard-tile-container {
        width: 250px;
        height: 200px;
        border: var(--gpg-green) solid 1px;
        background-color: var(--main-background-color);
    }
}

.dashboard-tile-content {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--main-color);
    flex-direction: column;
}

#dashboard-tile-icon-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard-tile-icon-container img {
    width: 40px;
}

#dashboard-tile-title-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- error ----- */
#nav-to-login-btn-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#nav-to-login-btn {
    cursor: pointer;
    width: 100px;
    height: 80%;
    border: solid 1px var(--gpg-green);
    background: transparent;
    color: var(--gpg-green);
}